# Virtual environments
.env
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Hugging Face models & logs
models/
runs/
*.ckpt
*.safetensors
*.bin
*.pkl

# PDF raw directories
data/kenya_bulk_notices_2026/
data/kenyan_public_notices/
notice_data_kenya/

# Streamlit
.streamlit/
